{% extends "layout/layout.html.twig" %}

{% block content %}
	<article class="rounded bg-stone-200 mx-auto py-5 px-10 my-5 max-w-8/10">

		{% if role === 'admin' %}
			<button type="button" class="add-btn open-modal mb-4" data-resource="authors" data-modal="add">
				+ Ajouter un auteur
			</button>
		{% endif %}

		<div class="flex flex-row flex-wrap justify-center gap-3">
			{% for author in auteurs %}
				<div class="author-card w-72 h-72 flex flex-col border p-8 overflow-y-scroll">
					{% if role === 'admin' %}
						<div class="flex gap-2 mt-3">
							<button class="update-btn open-modal" data-resource="authors" data-modal="update" data-id="{{ author.id }}" data-prenom="{{ author.prenom }}" data-nom="{{ author.nom }}" data-biographie="{{ author.biographie|e('html_attr') }}">
								Modifier
							</button>

							<form method="POST" action="/author/{{ author.id }}/delete">
								<button type="button" class="delete-btn open-modal" data-resource="authors" data-modal="delete" data-id="{{ author.id }}" data-fullname="{{ author.prenom }} {{ author.nom }}">
									Supprimer
								</button>
							</form>
						</div>
					{% endif %}
					<h2 class="text-2xl font-semibold mb-2">
						{{ author.prenom }}
						{{ author.nom }}
					</h2>

					<p class="">
						{{ author.biographie|raw }}
					</p>
				</div>
				<hr class="my-2">
			{% else %}
				<p>Aucun auteur trouvé</p>
			{% endfor %}
		</div>
	</article>

	{% if role === 'admin' %}
		<!-- Modal Ajouter -->
		<div id="modal-add" class="hidden modal fixed inset-0 bg-black/50 items-center justify-center">
			<form method="POST" class="bg-white rounded p-6 w-96" id="addForm">
				<input type="text" name="prenom" placeholder="Prénom" class="border w-full my-1 px-2 py-1" required>
				<input type="text" name="nom" placeholder="Nom" class="border w-full my-1 px-2 py-1" required>
				<textarea name="biographie" placeholder="Biographie" class="border w-full my-1 px-2 py-1" required></textarea>

				<div class="flex justify-end gap-2 mt-4">
					<button type="button" class="cancel-btn close-modal">Annuler</button>
					<button class="add-btn">Ajouter</button>
				</div>
			</form>
		</div>

		<!-- Modal Supprimer -->
		<div id="modal-delete" class="hidden modal fixed inset-0 bg-black/50 items-center justify-center">
			<form method="POST" class="bg-white rounded p-6 w-96" id="deleteForm">
				<p class="delete-msg"></p>
				<div class="flex justify-end gap-2 mt-4">
					<button type="button" class="cancel-btn close-modal">Annuler</button>
					<button class="delete-btn">Supprimer</button>
				</div>
			</form>
		</div>

		<!-- Modal Modifier -->
		<div id="modal-update" class="hidden modal fixed inset-0 bg-black/50 items-center justify-center">
			<form method="POST" class="bg-white rounded p-6 w-96" id="updateForm">
				<input type="text" name="prenom" id="updatePrenom" class="border w-full my-1 px-2 py-1" required>
				<input type="text" name="nom" id="updateNom" class="border w-full my-1 px-2 py-1" required>
				<textarea name="biographie" id="updateBiographie" class="border w-full my-1 px-2 py-1" required></textarea>

				<div class="flex justify-end gap-2 mt-4">
					<button type="button" class="cancel-btn close-modal">Annuler</button>
					<button class="add-btn">Confirmer</button>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock %}
